<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button mode="ios"
      
      defaultHref="/"
      text=""
      icon="menu-outline"
      >
    </ion-back-button>
    </ion-buttons>

    <ion-title color="primary"
    
    class="ion-text-capitalize"
    slot="end"
    >{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-header>
  <ion-toolbar>

  <ion-buttons slot="start">
    <ion-menu-button menu="first" auto-hide="true">   
    </ion-menu-button>
  </ion-buttons>
    <ion-title>componente</ion-title>
  </ion-toolbar>
</ion-header> -->